.movies {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #181818;
}
.movies .text p{
    font-family: var(--font-1);

}
.movies input {
    width: 300px;
}
.movies .movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 30px;
    padding: 15px;
}
.movie-list svg {
    font-size: 20px;
    color: orange;
    margin-left: 5px;
}
.movie-list .btn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.movies .movie-list> div {
    background-color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.movies .movie-list .info {
    position: absolute;
    width: 100%;
    bottom: -175px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    background-color: black;
}
.movies .movie-list div:hover img {
    filter: brightness(0.5);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.movies .movie-list> div:hover .info{
    bottom: 0px;
}
.movies .movie-list div img{
    width: 100%;
    height: 300px;
}
.sorry {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background-color: #181818 !important;
}

