.alert {
    position: absolute;
    top: 0;
    left: 50%;
    height: 1.25rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 0.7rem;
    border-radius: 0.25rem;
    text-transform: capitalize;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    z-index: 100000;
}

.alert-danger {
    color: #721c24;
    background: #f8d7da;
}

.alert-success {
    color: #155724;
    background: #d4edda;
}